.App {
  text-align: center;
}

.header {
  background-color: #282c34;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: left;
  color: white;
}

.header > h1 {
  padding-left: 50px;
  font-size: 40px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 400;
}

.body {
  background-color: #7C7E8E;
  height: 90vh;
  width: 100vw;
  display: flex;
}

.player-container {
  min-width: 60vw;
  max-width: 700px;
  max-height: 90vh;
}

a {
  text-decoration: none;
  color:#222222;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color:#222222;
}

.github-link {
  position: fixed;
  right: 0px; bottom: 0px;
  padding: 5px;
}
