.player {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;

    justify-items: center;
    align-items: center;
    max-width: 80vw;
    max-height: 100%;
}

.radar-image {
    height: 80vh;
    width: 80vw;
    max-width: 1000px;
    display: block;
}

.radar-image > img {
    max-width: 100%;
    max-height: 92%;
    display: block;
    margin: auto;
}

.player-controls {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.play-pause {
    margin-right: 40px;
    margin-bottom: 20px;
    color: black;
}